
.login-container{
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: chocolate;
}

@media screen and (max-width: 500px) {
    .login-container {
        margin-left:30px;
    }
}


.error {
    margin: 5%;
    color: red;
    
}