.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 1%;
}

.lang {
    margin: 10px;
}

.lang:hover {
    margin: 7px;
    cursor: pointer;
    border-style: solid;
    border-color: gainsboro;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    background-color: chocolate;
}

.lang-container {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

@font-face {
    font-family: Source Sans Pro;
    src: url("SourceSansPro-Bold.otf");
}

.text {
    font-family: "Source Sans Pro";
    margin: 1%;
    background-color: gainsboro;
}

p {
    font-family: "Source Sans Pro";
}

.main-container {
    width: 125vh;
    padding: 2% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Source Sans Pro", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form input.submit {
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #cc6600;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.form input.submit:hover, .form input.submit:active, .form input.submit:focus {
    background: orange;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #ffcc80, #ffad33);
    font-family: "Source Sans Pro", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#current {
    background-color: orange;
}

.select {
    display: block;
    font-size: 16px;
    font-family: "Source Sans Pro";
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: orange;
    linear-gradient(to bottom, orange 0%, chocolate 100%);
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select::-ms-expand {
    display: none;
}
.select:hover {
    border-color: #888;
}
.select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    color: #222;
    outline: none;
}
.select option {
    font-weight:normal;
}

.container {
    width: 1200px;
    height: 1200px;
    padding: 30px;
    background-color: #333;
}


.add-button {
    position: relative;
    width: 70px;
    height: 70px;
}
.add-button:before, .add-button:after {
    content: "";
    position: absolute;
    background-color: chocolate;
    transition: transform 0.25s ease-out;
    /* Vertical line */
}
.add-button:before {
    top: 0;
    left: 50%;
    width: 8px;
    height: 100%;
    margin-left: -2px;
    /* horizontal line */
}
.add-button:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    margin-top: -2px;
}
:hover.add-button:before, :hover.add-button:after  {
    background-color: yellow;
}


.delete {
    width: 3vw;
    height: 5vh;
}

.delete:hover {
    cursor: pointer;
    opacity: 0.5;
}

.edit {
    width: 3vw;
    height: 5vh;
}

.edit:hover {
    cursor: pointer;
    opacity: 0.5;
}



.confirm  {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.confirm.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
}

.is-visible .cd-popup-container {
    transform: translateY(0);
}



.check {
    content: " ";
    display: block;
    width: 0.3em; /
    height: 0.6em;
    border: solid chocolate;
    border-width: 0 0.2em 0.2em 0;position: absolute;
    left: 1em;
    top: 40%;
    margin-top: -0.2em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}