.courseContainer {
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3vw;
    margin: auto;
}

#grid > div {
    font-size: 1vw;
    padding: .5em;
    background: #ffffff;
    text-align: center;
}

#grid div:nth-child(1){
    font-size: 1vw;
    border-style: solid;
    background: chocolate;
}

#grid div:nth-child(2){
    font-size: 1vw;
    border-style: solid;
    background: chocolate;
}

#grid div:nth-child(3){
    font-size: 1vw;
    border-style: solid;
    background: chocolate;
}

#grid div:nth-child(4){
    font-size: 1vw;
    border-style: solid;
    background: chocolate;
}

#grid div:nth-child(5) {
    opacity: 0;
}
#grid div:nth-child(6) {
    opacity: 0;
}


#grid div:nth-child(6n+6) {
    background: none;
}


.options {
    padding: 1%;
}



.student-option:hover {
    cursor: grab;
    box-shadow: 5px 2px 3px 10px black;
}