.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.history-table {
    font-size: 3vh;
    font-family: "Source Sans Pro", sans-serif;
    border: solid chocolate;
    border-collapse:collapse;
    padding: 10%;
}
tr, td {
    border: solid chocolate;
}

a {
    color: black;
    text-decoration: none;
}