
.main-nav {
    display: inline;
    vertical-align: baseline;
    padding: 0;
}
.main-nav-list {
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
}
.main-nav-item {
    font-family:"Source Sans Pro";
    font-size:20px;
    text-decoration: none;
    float:left;
    padding:65px;
    background-color: chocolate;
    color:#ffffff;
}

nav ul a:nth-child(n+2){
    border-left-color: #1a1a1a;
    border-left-style: solid;
}


:hover.main-nav-item {
    background-color: orange;
    padding-bottom:12px;
    border-bottom:2px;
    margin:-1px;
}
.logout {
    margin: 20px;
    font-family: "Source Sans Pro";
    color: #404040;
    font-size: 35px;

    text-decoration: none;
}
:hover.logout {
    cursor: pointer;
    color: gray;
}

.logout-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
:hover.logout-image {
    cursor: pointer;
    color: gray;
    filter: grayscale(0%);
    filter: brightness(2.0);

}


