.courseContainer {
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    margin-top: auto;
}

#grid > div {
    font-size: 1vw;
    padding: .5em;
    background: #ffffff;
    text-align: center;
}

#grid div:nth-child(1){
    font-size: 1vw;
    border-style: solid;
    background: chocolate;
}

#grid div:nth-child(2){
    font-size: 1vw;
    border-style: solid;
    background: chocolate;
}

#grid div:nth-child(3){
    font-size: 1vw;
    border-style: solid;
    background: chocolate;
}

#grid div:nth-child(4){
    font-size: 1vw;
    border-style: solid;
    background: chocolate;
}

#grid div:nth-child(5){
    font-size: 1vw;
    border-style: solid;
    background: chocolate;
}
#grid div:nth-child(6) {
    opacity: 0;
}
#grid div:nth-child(7) {
    opacity: 0;
}

#grid div:nth-child(7n){
    width: 50px;
    background: transparent;
}

.options {
    padding: 1%;
}
