.courseContainer {
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    margin-top: auto;
    margin-left: 20%;
}

#grid > div {
    font-size: 1vw;
    padding: .5em;
    background: #ffffff;
    text-align: center;
}


#grid div:nth-child(3n){
    width: 50px;
    background: transparent;
}


.trainer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    margin-top: auto;
    margin-left: 20%;
}

.trainer-grid > div {
    font-size: 1vw;
    padding: .5em;
    background: #ffffff;
    text-align: center;
}

.trainer-grid div:nth-child(3n){
    background: none;
}


.student-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    margin-top: auto;
    margin-left: 20%;
}

.student-grid > div {
    font-size: 1vw;
    padding: .5em;
    background: #ffffff;
    text-align: center;
}



.course-container {
    display: flex;
    justify-content: center;

    margin: 2%;
    padding: 0;
}

.options {
    display: inline-block;
    float: right;
    margin-left: 1%;
}

.course-title {
    display: inline-block;
    font-size: 50px;
    margin-right:1%
}

.message-container {
    display: flex;
    justify-content: center;
    margin: 2%;
    padding: 0;
}
.empty_list_hint {
    display: inline-block;
    font-size: 20px;
}

.check-button {
    width: 5vw;
    height: 5vh;
}


#green {
    background-color: #4CAF50;
    font-family: "Source Sans Pro";
}

#red {
    background-color: red;
    font-family: "Source Sans Pro";
}

.option {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.option input {
    font-family: "Source Sans Pro", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.option input.submit {
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #cc6600;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.option input.submit:hover, .option input.submit:active, .option input.submit:focus {
    background: orange;
}

.option .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}



.add-option input {
    font-family: "Source Sans Pro", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.add-option input.submit {
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #cc6600;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}


.history-option input {
    font-family: "Source Sans Pro", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.history-option input.submit {
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #cc6600;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    height: fit-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-family: "Source Code Pro";
    font-size: 2vh;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    left: 100%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}